#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.fill-form {
  border: 0.5px solid gray;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  margin-top: 10px;
  margin-bottom: 20px;
}

button {
  border-radius: 1;
  max-width: 90px;
  background-color: green;
  align-self: center;
  margin-bottom: 10px;
}

.edit {
  background-color: red;
}

input {
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  
}


@media (max-width: 600px) {
  .fill-form {
    width: 90%; /* Adjust width for smaller screens */
    margin-top: 5px; /* Adjust margin for smaller screens */
    margin-bottom: 10px; /* Adjust margin for smaller screens */
  }
}